@model retroarch_panel.Models.GameList

<h1>Jogos</h1>

<table class="table" id="gamesTable">
    <thead>
        <tr>
            <th>
                Sistema
            </th>

            <th>
                Nome do Jogo
            </th>
            <th>
                Imagem
            </th>
            <th>
                Playcount
            </th>
            <th>
                Lasplayed
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model.Games)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => game.System)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Name)
                </td>
                <td>
                    <!-- @Html.DisplayFor(modelItem => game.Image) -->
                    <img src="@Url.Content(game.Image)" class="img-fluid img-max" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Playcount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Lastplayed)
                </td>
            </tr>
        }
    </tbody>
</table>

