@model retroarch_panel.Models.GameList

<!-- <button id="btnExcel">Excel Download</button> -->
@using (Html.BeginForm("ExcelExport", "Home"))
{
    <button type="submit" class="btn btn-primary">Excel Download</button>
}

@using (Html.BeginForm("StopEmulationStation", "Home"))
{
    <button type="submit" class="btn btn-primary">Stop EmulationStation</button>
}

<!-- https://smallenvelop.com/display-loading-icon-page-loads-completely/ -->
<div class="loading"><p class="loading-message">Carregando informações, aguarde</p></div>


<h1>Jogos</h1>

<table class="table" id="gamesTable">
    <thead>
        <tr>
            <th>
                Sistema
            </th>

            <th>
                Nome do Jogo
            </th>
            <th>
                Imagem
            </th>
            <th>
                Playcount
            </th>
            <th>
                Lasplayed
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model.Games)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => game.System)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Name)
                </td>
                <td>
                    <img data-src="@Url.Content(game.Image)" class="img-fluid img-max lazy" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Playcount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Lastplayed)
                </td>
            </tr>
        }
    </tbody>
</table>

